@font-face {
  font-family: "Cedarville Cursive";
  src: url("/fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: #1e1e1e;
  --text-color: #efefef;
  --button-active-color: rgba(from var(--border-color) r g b / 0.7);
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#app {
  width: 100%;
}

input {
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: inherit;
}
